.khan__buy-link {
  position: relative;
  color: #2f80ed;
  line-height: 42px;
  font-size: 30px;
  font-weight: normal;
  margin-left: 48px;
  text-decoration: none;
  z-index: 1;
  opacity: 1;
  transition: opacity 0.3s linear 0.1s;
}

.khan__buy-link:hover {
  opacity: 0.5;
}
